<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/stylesheet1.css">
    <title>Disease Detector</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!-- <link rel="stylesheet" href="/public/stylesheets/stylesheet1.css"> -->
<!--         
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest"> -->


</head>
<body>
    

<!-- We were thinking the data would add automatically once somebody took a new Diagnosis -->
    <nav class="teal darken-1">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
Disease Detector
            </a>
            <a href ="/" class = "sidenav-trigger">
                <i class = "material-icons">local_hospital</i>
            </a>
            <!-- a is for hyperlink -->
            <!-- ul for unordered list -->
            <!-- li for list items -->
        </div>
    </nav>

    <div class = "container">
        <div class="row">
            <div class="col s4 offset-s4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title center">Sign Up</span>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="first_name" type="text" class="validate">
                                <label for="user_name">Username</label>
                            </div>
                        </div>
                        <div class = "row">
                            <div class="input-field col s12">
                                <input ontab = "enteredInfo()" id="password" type="password" class="validate">
                                <label for="password">Password</label>
                                <script>
                                    function enteredInfo() {
                                        let data = "";
                                        data += password;
                                        localStorage.setItem('passwordData', JSON.strinify(data));
                                        window.location = '/signup'
                                    }
                                </script>
                            </div>
                        </div>
                        <div class = "row">
                            <div class="input-field col s12">
                                <input ontab = "enteredInfor()" id="confirm password" type="password" class="validate">
                                <label for="confirm password">Confirm password</label>
                                <script>
                                    function enteredInfo() {
                                        let data = "";
                                        data += password;
                                        localStorage.setItem('confirmedPassword', JSON.strinify(data));
                                        window.location = '/signup'
                                    }
                                    const password = JSON.parse(localStorage.getItem('passwordData'));
                                    const confirmPassword = JSON.parse(localStorage.getItem('passwordData'));
                                    if (password == confirmPassword) {
                                        const li = document.createElement('h5');
                                        li.innerText = "good";
                                    }
                                </script>
                                    
                                </script>
                            </div>
                        </div>
                        <div class = "row">
                            <div class="input-field inline col s12">
                                <input id="email_inline" type="email" class="validate">
                                <label for="email_inline">Email</label>
                                <span class="helper-text" data-error="wrong" data-success="right"></span>
                            </div>
                        </div>
                        <a onclick="addDataToDatabase()" class="waves-effect waves-light btn-small orange modal-trigger" href="/intro">
                            <i onclick="addDataToDatabase()" class="material-icons right">chevron_right</i>Sign Up
                        </a>
                </div>
                    <div class="card-action">
                        <a href="/abstract">Abstract</a>
                        <a href="/credits">Credits</a>
                        <a href="/ourteam">Our Team</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>M.AutoInit();</script>
    <script>
        function addDataToDatabase() {
            const db = require("./db_connection");
            const insert_login_sql = `
                INSERT INTO login 
                    (doctor_id, user_name, password, phoneNumber, first_name, last_name, middle_name) 
                VALUES 
                    (?, ?, ?, ?, ?, ?, ?);
            `

            db.execute(insert_login_sql, [1, 1, 1,1,1, 1, 1]);
        }

    </script>

</body>
</html>

<!-- hi -->