


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/stylesheet1.css">
    <title>Disease Detector</title>
</head>
<body onLoad="data();">

    <nav class="teal darken-1">
        <!-- Navigation content -->
    </nav>


    <div class="container">
        <h4>Select Your Symptoms:</h4>
        <!-- Table content -->
        <br>
        <button onclick="data()" id="submit-btn" class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right"></i>
        </button>
        <div id="feedback"></div>


        <div id="result"></div>
    </div>


<script>
function data() {
    let config = require("./db_connection"); 

    let sql = `SELECT * FROM symptoms`;
    config.query(sql, (error, results, fields) => {
        if (error) {
            return console.error(error.message);
        }
        console.log(results);
        addDataToTable(results); // Pass the retrieved data to the addDataToTable function
    });

    config.end(); 
}

function addDataToTable(data) {
    let tbody = document.querySelector('tbody');
    data.forEach((item) => {
        let newRow = document.createElement('tr');
        let newCell = document.createElement('td');

        newCell.textContent = item;

        newRow.appendChild(newCell);
        tbody.appendChild(newRow);
    });
}


</script>

</body>
</html>


